*{
    margin: 0px;
    padding: 0px;
}
.Navbar_2  ul{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    height: 50px;
}